@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
html {
    background-color: #431907;
    background-image: url('./img/paper.jpg');
    background-repeat: round;
    box-shadow:inset 0 0 0 2000px rgba(67, 25, 7, 0.9);
}

.setup{
    max-width: 100vh;
    margin: 0 auto;
    min-height: 100vh;
    max-height: 300vh;
}

.patches{
    display: flex;
    flex-wrap: wrap;
}

.gap{
    display: flex;
    flex-basis: 33.333333%;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 100px;
    margin: 10px 0;
}

img {
    border: 1px solid #13010079;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    
}

.pass__b-pass {
    width: 100%;
    height: 70px;
    background-color: #E7B661;
    border: none;
    color:#371208;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Titan One';
    /*#b16c13*/
    box-shadow: 0px 10px 0px 0px #b16c13;
}

input:active{
    box-shadow: none;
    transform: translateY(10px);
    cursor: none;
}

.separation{
    padding: 10px 0;
}